@namespace ThingsGateway.Gateway.Razor
@using System.Text.Json.Nodes
@using Microsoft.Extensions.Hosting
@using ThingsGateway.Admin.Application
@using ThingsGateway.Admin.Razor
@using ThingsGateway.Gateway.Application
@inherits ComponentDefault
@typeparam TItem


@foreach (var col in RowContent.Columns)
{
    <td class="@GetFixedCellClassString(col)" style="@GetFixedCellStyleString(col)">
        <DynamicElement TagName="div" TriggerClick="@false"
                        StopPropagation="false"
                        class="@GetCellClassString(col, false, false)">
            @{
                <DynamicElement TagName="div" TriggerDoubleClick="false" GenerateElement="false"
                                StopPropagation="true"
                                class="@GetDoubleClickCellClassString(false)">
                    @GetValue(col, RowContent.Row)
                </DynamicElement>
            }
        </DynamicElement>
    </td>
}
