@namespace ThingsGateway.Gateway.Razor
@using System.Text.Json.Nodes
@using Microsoft.Extensions.Hosting
@using ThingsGateway.Admin.Application
@using ThingsGateway.Admin.Razor
@using ThingsGateway.Gateway.Application
@inherits ComponentDefault


@foreach (var col in RowContent.Columns)
{
    <td class="@GetFixedCellClassString(col)" style="@GetFixedCellStyleString(col)" @key=col>
        <div class="@GetCellClassString(col, false, false)" @key=col>
            @if(col.GetShowTips())
            {
                <Tooltip @key=col Title="@VariableModelUtils.GetValue(RowContent.Row, col.GetFieldName())" class="text-truncate d-block">
                    @VariableModelUtils.GetValue(RowContent.Row, col.GetFieldName())
                </Tooltip>
            }
            else
            {
                @VariableModelUtils.GetValue(RowContent.Row, col.GetFieldName())
            }
        </div>
    </td>
}
